header{
    border-bottom: 1px solid white;
    padding: var(--padding-xl);
    height: var(--header-height);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 10; /*Always on top to apply the blur */
}


.header-title{
    margin-right: var(--margin-s);
}

.header-nav ul{
    display: flex;
    gap: 10px;
}

.header-nav li{
    font-weight: bold;
    color: var(--light-text-color);
}

.header-nav a.active{
    color: white;
    text-decoration: underline;
}