:root {



  --margin-s: 6px;
  --margin-m: 10px;
  --margin-l: 32px;
  --margin-xl: 40px;


  --margin-xxs: var(--separation-xxs);
  --margin-xs: var(--separation-xs);
  --margin-s: var(--separation-s);
  --margin-m: var(--separation-m);
  --margin-l: var(--separation-l);
  --margin-xl: var(--separation-xl);
  --margin-xxl: var(--separation-xxl);

  --padding-xxs: var(--separation-xxs);
  --padding-xs: var(--separation-xs);
  --padding-s: var(--separation-s);
  --padding-m: var(--separation-m);
  --padding-l: var(--separation-l);
  --padding-xl: var(--separation-xl);
  --padding-xxl: var(--separation-xxl);
}
