html {
  background-color: black;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1000px;
  display: flex;
  flex: 1;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* We remove the header height to cover all the page. Header height = header paddign x2 + bottom border */
  min-height: calc(100vh - 65px);
}

.fa-icon{
  width: 25px;
  margin: 0 var(--margin-s);
}

.component-details{
  display: flex;
  flex-direction: column;
}