html {
  background-color: black;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
}

button{
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Noto Sans";
  line-height: 2;
} 

h1{
  font-size: 45px;
  letter-spacing: 2px;
}

h2, h3, h4, h5, h6{
  font-size: 30px;
  margin-top: var(--margin-xl);
}

p, ul{
  margin-bottom: 10px;
  letter-spacing: 1px;
}

b{
  font-weight: 700;
}
