html {
  background-color: black;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
}

button{
  cursor: pointer;
}

h1{
  font-size: 40px;
}

h2, h3{
  margin-top: var(--margin-l);
}

.container {
  max-width: 1000px;
  display: flex;
  flex: 1;
  padding: var(--padding-l);
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* We remove the header height to cover all the page. Header height = header paddign x2 + bottom border */
  min-height: calc(100vh - 65px);
}



.component-details{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.link-external{
  color: #41adff;
}

.link-external svg{
  margin-left: 4px;
}

.bullet-list{
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 6px;
}

.bullet-list.separator-large li{
  margin-bottom: 6px;
}
