@import './styles/reset.css';
@import './styles/separators.css';
@import './styles/fonts.css';
@import './styles/conatiner.css';
@import './styles/header.css';
@import './styles/sidebar.css';
@import './styles/icon.css';
@import './styles/badge.css';
@import './styles/styles.css';

:root{

  --separation-xxs: 4px;
  --separation-xs: 8px;
  --separation-s: 12px;
  --separation-m: 16px;
  --separation-l: 24px;
  --separation-xl: 32px;
  --separation-xxl: 48px;

  --header-height: 50px;

  --light-text-color: var(--color-neutral-400);

  --color-neutral-100: hsl(0, 0%, 0%);
  --color-neutral-200: hsl(0, 0%, 20%);
  --color-neutral-300: hsl(220, 13%, 18%);
  --color-neutral-400: hsl(0, 0%, 49%);
  --color-neutral-500: hsl(0, 0%, 65%);

}
