.code-syntax{
    display: flex;
    flex-direction: column;
    height: 500px;
}

.code-syntax .code-header{
    background-color: hsl(0, 0%, 20%);
    padding: var(--padding-s) var(--padding-m);
    display: flex;
}


.code-syntax .code-copy{
    margin-left: auto;
    align-items: center;
}

.code-title{
    margin-right: var(--margin-s);
    padding: var(--padding-s);
}

.code-title.active{
    background-color: var(--color-neutral-400);
    color: white;
    border-radius: 5px;
    font-weight: bold;
}